.commone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #070711;
    color: #FF6A00;
}

h1 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid rgb(255, 255, 255); /* Cursor */
  animation:
    typeAndDelete 6s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 12.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}