.about-container {
    background-color: #070711;
    color: #ffffff;
    padding: 8% 25%;
}

.aboutone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.aboutone-container h1 {
    font-size: 2em;
}

.aboutone-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #999;
}

.aboutone-container ul {
    list-style-type: square;
    margin-left: 20px;
    color: #999;
}



@media (max-width: 1370px) {}




@media (max-width: 1140px) {
    .about-container {
        padding: 15% 15%;
    }
}




@media (max-width: 992px) {
    .about-container {
        padding: 15% 13%;
    }
}




@media (max-width: 768px) {
    .about-container {
        padding: 20% 13%;
    }
}




@media (max-width: 576px) {
    .about-container {
        padding: 25% 10%;
    }
}




@media (max-width: 400px) {
    .about-container {
        padding: 30% 10%;
    }
}