.about-container {
    background-color: #070711;
    color: #ffffff;
    padding: 8% 10%;
}

.aboutone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.aboutone-container h1 {
    font-size: 2em;
}

.aboutone-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #999;
}

.aboutone-container ul {
    list-style-type:square;
    margin-left: 20px;
    color: #999;
}