.icon {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    margin-top: -45vw;
}

@media (max-width: 1370px) {
    .icon {
        margin-top: -50vw;
    }
}




@media (max-width: 1140px) {
    .icon {
        margin-top: -55vw;
    }
}




@media (max-width: 992px) {
    .icon {
        margin-top: -60vw;
    }
}




@media (max-width: 768px) {
    .icon {
        margin-top: -65vw;
    }
}




@media (max-width: 576px) {
    .icon {
        margin-top: -70vw;
    }
}




@media (max-width: 400px) {
    .icon {
        margin-top: -155vw;
    }
}