.iconone {
    display: flex;
    flex-direction: column;
    padding: 8% 10%;
    background-color: #070711;
    color: #fff;
}

.iconone-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconone h1 {
    color: #fff;
}

.iconone p {
    color: #777777;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.dropdown-trigger {
    cursor: pointer;
    padding: 10px;
    background-color: #242424;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.dropdown-trigger h2 {
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #242424;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
    display: flex;
    gap: 20px;
    min-width: 300px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    color: #ddd;
    background-color: #2b2b2b;
    transition: background 0.2s;
    border-radius: 4px;
    margin-bottom: 10px;
}

.dropdown-menu li:hover {
    background-color: #eef2ff;
    color: #000;
}

.arrow {
    font-size: 12px;
    transition: transform 0.3s;
}

.arrow.up {
    transform: rotate(180deg);
}

.iconone .parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 25px;
}

.parent .child {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0px;
    margin: 0 auto;
}

.child .divone {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
    height: 400px;
    background-color: #242424;
    border-radius: 10px;
}

.divone iframe {
    position: static;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.divone span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 6px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.divone span i {
    margin-right: 8px;
    font-size: 1em;
}

.divone:hover span {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #FF6A00;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #FF6A00;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #FF6A00;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #FF6A00;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #FF6A00;
        height: 40px;
    }
}


@media (max-width: 1370px) {
    .parent .child {
        grid-template-columns: repeat(4, 1fr);
    }
}




@media (max-width: 1140px) {
    .parent .child {
        grid-template-columns: repeat(3, 1fr);
    }

    .iconone {
        padding: 12% 10%;
    }
}




@media (max-width: 992px) {
    .iconone {
        padding: 14% 10%;
    }
}




@media (max-width: 768px) {
    .parent .child {
        grid-template-columns: repeat(2, 1fr);
    }

    .iconone {
        padding: 16% 10%;
    }

    .iconone h1 {
        font-size: 1.5em;
    }

    .iconone p {
        font-size: 1em;
    }

    .dropdown-trigger {
        border-radius: 5px;
        width: 100px;
    }

    .dropdown-trigger h2 {
        font-size: 15px;
    }
}




@media (max-width: 576px) {
    .parent .child {
        grid-template-columns: repeat(1, 1fr);
    }

    .iconone {
        padding: 25% 10%;
    }

    .iconone h1 {
        font-size: 1.5em;
    }

    .iconone p {
        font-size: 1em;
    }

    .dropdown-trigger {
        border-radius: 5px;
        width: 100px;
    }

    .dropdown-trigger h2 {
        font-size: 15px;
    }
}




@media (max-width: 400px) {
    .iconone-main {
        flex-direction: column;
        gap: 20px;
    }


    .dropdown-menu {
        border-radius: 5px;
        width: 100%;
    }

    .dropdown-menu ul {
        width: 150px;
    }

}