.container {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #070711;
    padding: 7% 300px 4%;
}

.display {
    width: 100%;
    height: 705px;
    background: #121212;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

.display iframe {
    width: 100%;
    height: 660px;
    background-color: #212121;
    border-radius: 20px;
    border: 2px solid #333;

}

.codes {
    width: 100%;
    max-width: 900px;
    background: #121212;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    padding: 20px;
    min-height: 700px;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    background: #222;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.tabs button:hover {
    background: #333;
}

.tabs button.active {
    background: #FF6A00;
}

.editor textarea {
    width: 100%;
    height: 603px;
    /* Fixed height */
    border: 2px solid #333;
    background: #1e1e1e;
    color: #f8f8f8;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    font-size: 15px;
    font-family: "Courier New", monospace;
    resize: none;
    /* disable manual resize */
    outline: none;
    overflow: auto;
    /* enable scrolling */
    box-sizing: border-box;
}

/* Chrome / Brave / Edge */
.editor textarea::-webkit-scrollbar {
    width: 10px;
    /* vertical scrollbar width */
}

.editor textarea::-webkit-scrollbar-thumb {
    background-color: #555;
    /* draggable thumb */
    border-radius: 0px;
}

.editor textarea::-webkit-scrollbar-track {
    background: #00000000;
}

.editor textarea::-webkit-scrollbar-button {
    display: none;
    /* hide top/bottom arrows */
}

/* Optional hover effect */
.editor textarea::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}



/* Section Two */

.containertwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 15% 4% ;
    height: 25vw;
    gap: 20px;
    background-color: #070711;
}

.containertwo h1 {
    color: #888;
    font-size: 1.2em;
    margin-left: 20px;
}

.containertwo h1 i{
    margin-right: 5px;
}

.detailstwo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2% 2%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #333;
    background-color: #121212;
    color: #888;
}