.contactone-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #070711;
    color: #ffffff;
}

h1 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    padding: 3% 3%;
    background-color: #111;
    border-radius: 20px;
    border: 2px solid #333;
}

form input, form textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    font-size: 1em;
}

form input::placeholder, form textarea::placeholder {
    color: #777;
}

form textarea {
    resize: vertical;
    min-height: 100px;
    margin-bottom: 35px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff6600;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #c24e00;
}