.dashboard-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 10px;
  gap: 10px;
}

.dashboard-btn button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.dashboard-btn button:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

.dashboard-btn button:active {
  transform: scale(0.95);
}