/* section-one */

.homecontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #070711;
}

.sectionone {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.sectionone h1 {
  font-size: 4em;
  font-weight: bold;
  background: transparent;
  margin-bottom: 0.5em;
  pointer-events: none;
}

h1::selection {
  background-color: #00000000;
}

.arrow-group {
  position: absolute;
  bottom: 90px;
  left: 97%;
  transform: translateY(300%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  opacity: 0;
  animation: fall 2s linear infinite;
}

.arrow:nth-child(1) {
  animation-delay: 0s;
  color: #FF6A00;
}

.arrow:nth-child(2) {
  animation-delay: 0.1s;
  color: #ffb580;
}

.arrow:nth-child(3) {
  animation-delay: 0.2s;
  color: #ffffff;
}

@keyframes fall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* section-two */

.carousel {
  overflow: hidden;
  white-space: nowrap;
  margin-top: -17px;
  width: 100%;
  background: #070711;
  padding: 1em 0;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 1.5em;
  animation: scroll 30s linear infinite;
  /* adjust speed */
}

.card {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

/* section-three */

.sectionthree {
  background-color: #070711;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 5em 10em;
  color: white;
  overflow: hidden;
}

.sectionthree h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.4em;
}

.sectionthree .three-elementsone {
  font-size: 1.1em;
  text-align: center;
  max-width: 800px;
  color: #FF6A00;
}

.sectionthree .three-elementsone i {
  margin-right: 10px;
}

.sectionthree .three-elementstwo {
  font-size: 1em;
  text-align: center;
  max-width: 800px;
  color: #808080;
  margin-bottom: 3em;
}

/* input */
.input {
  max-width: 190px;
}

.label {
  position: relative;
  display: block;
  width: 500px;
  height: 70px;
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid #FF6A00;
  padding: 18px 8px 15px 15px;
  text-align: left;
}

.shortcut {
  position: absolute;
  top: 50%;
  right: -7%;
  height: 50px;
  width: 85px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: #ffa463;
  padding: 0.3em;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.shortcut:hover {
  background-color: #ff6600;
}

.shortcut i {
  margin: auto;
  font-size: 20px;
  background: transparent;
}

.search_bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

/* card */

.sectionthree-card {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.card__content iframe {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  border: 2px solid #333;
}

.rows-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: -60px;
  overflow: hidden;
}

.rows-container .row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.rows-container .rowthree {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;

  background: linear-gradient(to bottom,
      #0707112f 0%,
      #07071175 40%,
      #070711b9 70%,
      #070711 100%);

  backdrop-filter: blur(3px);
}

.loadmore-btn {
  margin-top: -130px;
  width: 18em;
  height: 3.5em;
  border-radius: 10px;
  font-size: 20px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  border: 3px solid #FF6A00;
  background-color: #000000;
  cursor: pointer;
}

.loadmore-btn:hover {
  background-color: #FF6A00;
  transition: all 0.5s ease;
}

.loadmore-btn i {
  margin-right: 15px;
}

.card__content span {
  position: relative;
  bottom: 30px;
  left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff65;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 0;
}

.card__content span i {
  margin-right: 8px;
  font-size: 1em;
}

.card__content span:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}


/* section-four */

.container-four {
  display: flex;
  justify-content: center;
  gap: 4em;
  padding: 2em 0;
  background-color: #070711;
  color: white;
}

.contain-four {
  text-align: center;
}

.contain-four i {
  font-size: 3em;
  color: #FF6A00;
  margin-bottom: 0.5em;
}

.contain-four h1 {
  font-size: 4em;
  font-weight: bold;
}

.contain-four p {
  width: 200px;
  display: flex;
  text-align: center;
  font-size: 1em;
  color: #808080;
}

/* section five */


.container-five {
  height: auto;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #070711;
}

.git-container {
  display: block;
  height: 30em;
  width: 24em;
  text-align: left;
  padding: 80px 50px;
  border: 2px solid #505050;
  border-radius: 30px;
  color: #ffffff;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.623) 0%, rgb(31, 31, 31) 100%);
}

.git-container i {
  font-size: 5em;
  color: #FF6A00;
  margin-bottom: 10px;
}

.git-container h3 {
  font-size: 2.8em;
  font-weight: bold;
}

.git-container span {
  color: #FF6A00;
}

.git-container p {
  font-size: 1.2em;
  color: gray;
  margin-bottom: 25px;
}

.git-container button {
  height: 3em;
  width: 12em;
  color: #fff;
  font-size: 1.2em;
  border: 1px solid #FF6A00;
  border-radius: 10px;
}

.git-container button i {
  margin-right: 10px;
  font-size: 1em;
}

.git-container button:hover {
  background-color: #000000;
  transition: 1s;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30em;
  width: 64em;
  text-align: left;
  padding: 80px 50px;
  border: 2px solid #505050;
  border-radius: 30px;
  color: #ffffff;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.623) 0%, rgb(31, 31, 31) 100%);
}

.blog-container h3 {
  font-size: 2.8em;
  font-weight: 500;
  margin-bottom: 40px;
}

.blog-container .blog-cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.card_box {
  width: 250px;
  height: 320px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(46, 46, 46, 0.788) 0%, rgb(0, 0, 0) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box img {
  width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card_box h1 {
  font-size: 1.1em;
  padding: 0 10px;
  text-align: left;
}

.card_box p {
  margin-top: 10px;
  font-size: 0.9em;
  padding: 0 10px;
  text-align: left;
  color: gray;
}

.card_box:hover {
  transform: scale(1.05);
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #FF6A00 0%, #ffb144 51%, #ff7053 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

/* section six */

.container-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 400px 80px;
  gap: 80px;
  background-color: #070711;
}

.container-six h1 {
  font-size: 2.8em;
  font-weight: 500;
  color: #ffffff;
}

.container-six .container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container-cards .cardsrow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cardsix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #070711;
  border-radius: 20px;
  overflow: hidden;
}

.cardsix iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-radius: 20px;
  background: transparent;
}

.cardsix span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 6px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  cursor: pointer;
  z-index: 10;
}

.cardsix span i {
  margin-right: 8px;
  font-size: 1em;
}

.container-six button {
  margin-top: -60px;
}




@media (max-width: 1370px) {

  .container-five {
    padding: 6em 5%;
    gap: 10px;
  }

  .git-container {
    height: 30em;
    width: 24em;
    padding: 70px 40px;
  }

  .git-container i {
    font-size: 4.5em;
    margin-bottom: 8px;
  }

  .git-container h3 {
    font-size: 2.5em;
  }

  .git-container p {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .git-container button {
    font-size: 1em;
  }

  .arrow-group {
    bottom: 170px;
    left: 95%;
  }
}




@media (max-width: 1140px) {

  .arrow-group {
    bottom: 200px;
    left: 95%;
  }

  .container-five {
    padding: 6em 2%;
    gap: 5px;
  }

  .git-container {
    height: 25em;
    width: 15em;
    padding: 40px 10px;
  }

  .git-container i {
    font-size: 3em;
  }

  .git-container h3 {
    font-size: 2.2em;
  }


  .git-container p {
    font-size: 1em;
    margin-bottom: 2em;
  }

  .git-container button {
    height: 3em;
    width: 15em;
    font-size: 0.9em;
  }

  .blog-container {
    height: 25em;
    width: 50em;
  }

  .blog-container h3 {
    font-size: 2.2em;
  }

  .blog-container .blog-cards {
    gap: 20px;
  }

  .card_box {
    width: 200px;
    height: 270px;
  }

  .card_box img {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card_box h1 {
    font-size: 0.8em;
  }

  .card_box p {
    margin-top: 10px;
    font-size: 0.7em;
  }

  .card_box:hover {
    transform: scale(0.9);
  }

  .card_box span {
    width: 100px;
    height: 100px;
  }

  .card_box span::before {
    height: 35px;
  }

  .container-six {
    padding: 0 300px 80px;
    gap: 20px;
  }

  .container-six .container-cards {
    gap: 10px;
  }

  .container-cards .cardsrow {
    gap: 10px;
  }

  .cardsix {
    width: 300px;
    height: 300px;
  }

  .container-six button {
    margin-top: 0px;
  }
}




@media (max-width: 992px) {
  .sectionone h1 {
    font-size: 3.5em;
    padding: 0 5%;
  }

  .sectionthree h2 {
    font-size: 3em;
  }

  .sectionthree .three-elementsone {
    font-size: 0.9em;
  }

  .label {
    width: 400px;
    height: 60px;
  }

  .shortcut {
    height: 40px;
    width: 75px;
  }

  .search_bar {
    font-size: 1.1em;
  }

  .sectionthree-card {
    width: 250px;
    height: 250px;
  }

  .card__content iframe {
    width: 250px;
    height: 250px;
  }

  .rows-container {
    gap: 0.5em;
  }

  .rows-container .row {
    gap: 0.5em;
  }


  .container-five {
    padding: 6em 6em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .git-container {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 50em;
    padding: 40px 50px;
  }

  .git-container p {
    font-size: 1em;
  }

  .blog-container h3 {
    font-size: 2.4em;
    margin-bottom: 30px;
  }

  .blog-container .blog-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .card_box {
    width: 200px;
    height: 270px;
    border-radius: 10px;
  }

  .card_box img {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card_box h1 {
    font-size: 0.9em;
  }

  .card_box p {
    font-size: 0.7em;
  }

  .card_box:hover {
    transform: scale(0.7);
  }

  .card_box span {
    width: 100px;
    height: 100px;
    top: -5px;
    left: -5px;
  }

  .card_box span::before {
    height: 20px;
  }

  .card_box span::after {
    width: 10px;
  }


  .container-six {
    padding: 0 250px 80px;
    gap: 20px;
  }

  .container-six .container-cards {
    gap: 10px;
  }

  .container-cards .cardsrow {
    gap: 10px;
  }

  .cardsix {
    width: 250px;
    height: 250px;
  }

  .container-six button {
    margin-top: 0px;
  }

  .arrow-group {
    bottom: 190px;
    left: 93%;
  }

}




@media (max-width: 768px) {
  .sectionone h1 {
    font-size: 3em;
    padding: 0 5%;
  }

  .container-four {
    gap: 3em;
    padding: 3em 5%;
    ;
  }

  .contain-four i {
    margin-bottom: 0em;
  }

  .contain-four h1 {
    font-size: 3.5em;
  }

  .contain-four p {
    width: 180px;
    font-size: 0.9em;
  }

  .git-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 40em;
    padding: 0px 50px;
  }

  .git-container p {
    font-size: 0.9em;
  }

  .blog-container {
    height: 25em;
    width: 40em;
  }

  .blog-container h3 {
    font-size: 2em;
  }

  .blog-container .blog-cards {
    gap: 10px;
  }

  .card_box {
    width: 180px;
    height: 250px;
  }

  .card_box img {
    width: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card_box h1 {
    font-size: 0.8em;
  }

  .container-six {
    padding: 0 20px;
  }

  .cardsix {
    width: 220px;
    height: 220px;
  }

  .arrow-group {
    bottom: 170px;
    left: 92%;
  }
}




@media (max-width: 576px) {
  .container-five {
    padding: 6em 0;
    display: flex;
    flex-direction: column;
  }

  .git-container {
    display: block;
    height: 25em;
    width: 25em;
    text-align: left;
    padding: 50px 50px;
  }

  .git-container i {
    font-size: 5em;
    color: #FF6A00;
    margin-bottom: 10px;
  }

  .git-container h3 {
    font-size: 2.8em;
    font-weight: bold;
  }

  .git-container span {
    color: #FF6A00;
  }

  .git-container p {
    font-size: 1.2em;
    color: gray;
    margin-bottom: 25px;
  }

  .git-container button {
    height: 3em;
    width: 12em;
    color: #fff;
    font-size: 1.2em;
    border: 1px solid #FF6A00;
    border-radius: 10px;
  }

  .git-container button i {
    margin-right: 10px;
    font-size: 1em;
  }

  .blog-container {
    height: 95em;
    width: 25em;
    text-align: center;
    padding: 80px 50px;
  }

  .blog-container h3 {
    font-size: 2.5em;
    font-weight: 500;
  }

  .blog-container .blog-cards {
    flex-direction: column;
    gap: 20px;
  }

  .card_box {
    width: 350px;
    height: 420px;
  }

  .card_box img {
    width: 350px;
  }

  .card_box h1 {
    font-size: 1.2em;
    padding: 0 10px;
    text-align: left;
  }

  .card_box p {
    font-size: 1.1em;
  }


  .container-six {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    gap: 30px;
  }

  .container-six h1 {
    font-size: 2.5em;
  }

  .container-six .container-cards {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-cards .cardsrow {
    flex-direction: column;
    gap: 10px;
  }

  .cardsix {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25em;
    height: 25em;
    background-color: #070711;
    border-radius: 20px;
    overflow: hidden;
  }

  .container-four {
    display: none;
  }

  .arrow-group {
    bottom: 200px;
    left: 90%;
  }
}




@media (max-width: 400px) {

  .homecontainer {
    height: 80vh;
  }

  .carousel-track {
    gap: 1em;
    animation: scroll 5s linear infinite;
    /* adjust speed */
  }

  .sectionthree .three-elementsone {
    font-size: 1em;
    width: 500px;
  }

  .sectionthree h2 {
    font-size: 2.5em;
  }

  .sectionthree .three-elementstwo {
    font-size: 0.8em;
    width: 300px;
    margin-bottom: 2em;
  }

  .label {
    width: 300px;
    height: 50px;
    padding: 9px 8px 15px 15px;
    text-align: left;

  }

  .shortcut {
    height: 30px;
    width: 55px;
  }

  .shortcut:hover {
    background-color: #ff6600;
  }

  .shortcut i {
    font-size: 15px;
  }

  .search_bar {
    font-size: 1em;
  }

  .sectionthree-card {
    width: 200px;
    height: 200px;
  }


  .card__content iframe {
    width: 200px;
    height: 200px;
  }

  .loadmore-btn {
    width: 15em;
    height: 3em;
    font-size: 18px;
  }

  .container-five {
    padding: 0 2em;
  }

  .git-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 20em;
  }

  .git-container i {
    font-size: 3em;
    margin-bottom: 5px;
  }

  .git-container h3 {
    font-size: 2em;
    font-weight: bold;
  }

  .git-container p {
    font-size: 1em;
  }


  .git-container button i {
    margin-right: 10px;
    font-size: 1em;
  }

  .blog-container {
    height: 75em;
    width: 20em;
  }

  .blog-container h3 {
    font-size: 2em;
  }

  .blog-container .blog-cards {
    gap: 10px;
  }

  .card_box {
    width: 280px;
    height: 330px;
  }

  .card_box img {
    width: 280px;
  }

  .card_box h1 {
    font-size: 1em;
  }

  .card_box p {
    font-size: 0.9em;
  }

  .container-six {
    padding: 60px 50px;
    gap: 20px;
  }

  .container-six h1 {
    font-size: 2em;
  }

  .cardsix {
    width: 20em;
    height: 20em;
  }
}