/* section-one */

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.homecontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sectionone {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.sectionone h1 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.arrow-group {
  position: absolute;
  bottom: 20px;
  left: 97%;
  transform: translateY(300%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  opacity: 0;
  animation: fall 2s linear infinite;
}

/* each arrow starts a bit later, so you see continuous motion */
.arrow:nth-child(1) {
  animation-delay: 0s;
  color: #FF6A00;
}

.arrow:nth-child(2) {
  animation-delay: 0.1s;
  color: #ffb580;
}

.arrow:nth-child(3) {
  animation-delay: 0.2s;
  color: #ffffff;
}

@keyframes fall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* section-two */

.carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #070711;
  padding: 1em 0;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 1.5em;
  animation: scroll 30s linear infinite;
  /* adjust speed */
}

.card {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

/* section-three */

.sectionthree {
  background-color: #070711;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 8em 10em;
  color: white;
  overflow: hidden;
}

.sectionthree h2 {
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.4em;
}

.sectionthree .three-elementsone {
  font-size: 1.2em;
  text-align: center;
  max-width: 800px;
  color: #FF6A00;
}

.sectionthree .three-elementsone i {
  margin-right: 10px;
}

.sectionthree .three-elementstwo {
  font-size: 1.2em;
  text-align: center;
  max-width: 800px;
  color: #808080;
  margin-bottom: 3em;
}

/* input */
.input {
  max-width: 190px;
}

.label {
  position: relative;
  display: block;
  width: 500px;
  height: 70px;
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid #FF6A00;
  padding: 18px 8px 15px 15px;
  text-align: left;
}

.shortcut {
  position: absolute;
  top: 50%;
  right: -7%;
  height: 50px;
  width: 85px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: #ffa463;
  padding: 0.3em;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.shortcut:hover {
  background-color: #ff6600;
}

.shortcut i {
  margin: auto;
  font-size: 20px;
}

.search_bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

/* card */

.sectionthree-card {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.card__content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.rows-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: -60px;
  overflow: hidden;
}

.rows-container .row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.rows-container .rowthree {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;

  background: linear-gradient(to bottom,
      #0707112f 0%,
      /* fully transparent top */
      #07071175 40%,
      /* start soft blur */
      #070711b9 70%,
      /* stronger blur */
      #070711 100%
      /* solid bottom */
    );

  backdrop-filter: blur(3px);
  /* strength of the blur behind */
}

.loadmore-btn {
  margin-top: -130px;
  width: 18em;
  height: 3.5em;
  border-radius: 10px;
  font-size: 20px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  border: 3px solid #FF6A00;
  background-color: #000000;
  cursor: pointer;
}

.loadmore-btn:hover {
  background-color: #FF6A00;
  transition: all 0.5s ease;
}

.loadmore-btn i {
  margin-right: 15px;
}



/* section-four */

.container-four {
  display: flex;
  justify-content: space-around;
  padding: 4em 40em;
  background-color: #070711;
  color: white;
}

.contain-four {
  text-align: center;
}

.contain-four i {
  font-size: 3em;
  color: #FF6A00;
  margin-bottom: 0.5em;
}

.contain-four h1 {
  font-size: 5em;
  font-weight: bold;
}

.contain-four p {
  width: 200px;
  display: flex;
  text-align: center;
  font-size: 1.2em;
  color: #808080;
}