.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.homecontainer{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sectionone {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.sectionone h1 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.arrow-group {
  position: absolute;
  bottom: 20px;
  left: 97%;
  transform: translateY(300%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6A00;
}

.arrow {
  font-size: 2rem;
  opacity: 0;
  animation: fall 2s linear infinite;
}

/* each arrow starts a bit later, so you see continuous motion */
.arrow:nth-child(1) {
  animation-delay: 0s;
}
.arrow:nth-child(2) {
  animation-delay: 0.1s;
}
.arrow:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}