/* section-one */

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.homecontainer{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sectionone {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.sectionone h1 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.arrow-group {
  position: absolute;
  bottom: 20px;
  left: 97%;
  transform: translateY(300%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  opacity: 0;
  animation: fall 2s linear infinite;
}

/* each arrow starts a bit later, so you see continuous motion */
.arrow:nth-child(1) {
  animation-delay: 0s;
  color: #FF6A00;
}
.arrow:nth-child(2) {
  animation-delay: 0.1s;
  color: #ffb580;
}
.arrow:nth-child(3) {
  animation-delay: 0.2s;
  color: #ffffff;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* section-two */

.carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #070711;
  padding: 1em 0;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 1.5em;
  animation: scroll 15s linear infinite; /* adjust speed */
}

.card {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

