.header-container {
    width: 115vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    position:fixed;
    top: 10px;
    left: 0;
    background: transparent;
    z-index: 100;
    color: white;
}

.header-container img{
    width: 250px;
    height: auto;
    cursor: pointer;
    background: transparent;
}

.navbar{
    height: 3em;
    width: 50em;
    border-radius: 30px;
    border: 1px solid rgba(196, 196, 196, 0.726);
    background: rgba(73, 73, 73, 0.596);
    display: flex;  
    align-items: center;
    text-align: center;
}

.navbar ul{
    flex: 1;
    list-style: none;
    background: transparent;
}

.navbar ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
}

.navbar ul li:hover{
    color: #FF6A00;
    transition:ease-in-out 2s;
}

.navbar #isActive{
    font-weight: 600;
    color: #FF6A00;
}

.buttonpro {
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --default-btn-color: #fff;
}

.buttonpro span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.buttonpro span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}
.buttonpro:focus {
  scale: 1.09;
}
.buttonpro:hover,
.buttonpro:focus {
  background: transparent;
}

.buttonpro:hover span::before,
.buttonpro:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}


.header-btn {
 width: 12em;
 height: 3em;
 border-radius: 30em;
 font-size: 16px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 color: #fff;
 border: 3px solid #FF6A00;
 background-color: #000000;
}

.header-btn::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #FF9C33 0%, #ff5757 40%, #ff2727 70%, #FF6A00 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.header-btn:hover::before {
 width: 15em;
}