.templatecontainer {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 8% 10%;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    background-color: #070711;
}

.templatecontainer h1 {
    padding: 20px;
}

.template {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid #505050;
}

.template img {
    width: 450px;
}

.template .temdetails {
    padding: 10px;
    width: 100%;
}

.temdetails h3 {
    font-size: 1.4em;
    margin-bottom: 30px;
}

.temdetails p {
    font-size: 1em;
    color: #808080;
}

.temdetails .tem-btn {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    gap: 10px;
}

.tem-btn .button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: #FF6A00;
    z-index: 1;
}

.tem-btn .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.tem-btn .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #FF6A00;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.tem-btn .button:hover {
    color: #000000;
    border: 1px solid #FF6A00;
}

.tem-btn .button:hover:before {
    top: -35%;
    background-color: #FF6A00;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.tem-btn .button:hover:after {
    top: -45%;
    background-color: #FF6A00;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}