.templatecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8% 10%;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    background-color: #070711;
}

.templatecontainer h1 {
    padding: 20px;
}

.template {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid #505050;
}

.template img {
    width: 450px;
}

.template .temdetails {
    padding: 10px;
    width: 100%;
}

.temdetails h3 {
    font-size: 1.4em;
    margin-bottom: 30px;
}

.temdetails p {
    font-size: 1em;
    color: #808080;
}

.temdetails .tem-btn {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    gap: 10px;
}

.tem-btn .button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: #FF6A00;
    z-index: 1;
}

.tem-btn .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.tem-btn .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #FF6A00;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.tem-btn .button:hover {
    color: #000000;
    border: 1px solid #FF6A00;
}

.tem-btn .button:hover:before {
    top: -35%;
    background-color: #FF6A00;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.tem-btn .button:hover:after {
    top: -45%;
    background-color: #FF6A00;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



@media (max-width: 1370px) {
    .templatecontainer {
        padding: 12% 10%;
    }
}




@media (max-width: 1140px) {
    .templatecontainer {
        padding: 12% 5%;
    }

    .templatecontainer h1 {
        padding: 20px;
    }

    .template {
        gap: 10px;
        width: 70vw;
    }

    .template img {
        width: 400px;
    }
}




@media (max-width: 992px) {
    .templatecontainer {
        padding: 15% 5%;
    }

    .templatecontainer h1 {
        padding: 20px;
    }

    .template {
        gap: 10px;
        width: 80vw;
    }

    .template img {
        width: 350px;
    }
}




@media (max-width: 768px) {
    .templatecontainer {
        padding: 18% 5%;
    }

    .template {
        gap: 5px;
        width: 90vw;
    }

    .template img {
        width: 300px;
    }

    .temdetails h3 {
        font-size: 1.2em;
    }

    .temdetails p {
        font-size: 0.8em;
    }

    .temdetails .tem-btn {
        margin-top: 30px;
        gap: 10px;
    }

    .tem-btn .button {
        font-size: 15px;
    }
}




@media (max-width: 576px) {
    .templatecontainer {
        padding: 18% 5%;
    }

    .template {
        gap: 5px;
        width: 100%;
    }

    .template img {
        width: 250px;
    }

    .temdetails h3 {
        font-size: 1em;
    }

    .temdetails p {
        font-size: 0.7em;
    }

    .temdetails .tem-btn {
        margin-top: 30px;
        gap: 10px;
    }

    .tem-btn .button {
        font-size: 12px;
    }

    .tem-btn .button {
        padding: 5px 20px;
    }
}




@media (max-width: 400px) {
    .templatecontainer {
        padding: 25% 5%;
    }

    .templatecontainer h1 {
        font-size: 1.5em;
    }

    .template {
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }

    .template img {
        width: 100%;
    }

    .temdetails h3 {
        font-size: 1.2em;
        margin-bottom: 1%;
    }

    .temdetails p {
        font-size: 0.9em;
    }

    .temdetails .tem-btn {
        margin-top: 20px;
    }

    .tem-btn .button {
        padding: 12px 24px;
        font-size: 14px;
    }

}