
.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(2px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

.auth-modal-wrapper {
    position: relative;    
    max-width: 900px; 
    width: 100%;
    display: flex;
    justify-content: center;
}


.auth-close-btn {
    position: absolute;
    top: -20px;
    right: 145px;
    background: none;
    border: none;
    color: white;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.auth-close-btn:hover {
    transform: scale(1.1);
    color: #FF6A00;
}

.login-container {
    margin: 0;  
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background-image: url("../../assets/images/Loginbg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 70vh;
    border-radius: 20px;
    color: #FFF;
    padding: 5%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30%;
}

.register h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.register h3 {
    font-size: 1em;
    text-align: center;
}

.login-content p {
    font-size: 1em;
    color: #6b6b6b;
}

.login-content span {
    color: #FF6A00;
}

.login-goo {
    width: 250px;
    height: 48px;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    background-color: rgb(24, 23, 23);
    cursor: pointer;
    transition: all .6s ease;
}

.login-goo svg {
    height: 24px;
}

.login-goo:hover {
    background-color: #2c2c2c;
}

.login-git {
    display: flex;
    width: 250px;
    height: 48px;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
}

.login-git svg {
    height: 30px;
}

.login-git:hover {
    background-color: #2c2c2c;
}

.register .login-goo {
    margin-top: 40px;
}

.register .login-git {
    margin-bottom: 40px;
}